In [1]:
import pandas as pd

In [ ]:

# Cambiad el nombre de las columnas para que todas estén en minúsculas y reemplazad los espacios por _.
# Eliminad las columnas de Unnamed: 22 y Unnamed: 23, Case Number.1, Case Number.2, original order, Investigator or Source, pdf, href formula.
# Establece la columna Case Number como índice del DataFrame.

# 3-Guarda el csv que no tiene esas columnas para seguir usándolo mañana.

In [2]:
# 1-Cargar el dataset

attacks_csv = pd.read_csv("datos/attacks.csv")
attacks_csv.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
# 2-Haced una exploración básica del DataFrame:
# ¿Cuántas filas y columnas tiene el DataFrame?

conteo=attacks_csv.shape

In [6]:
# Mostrad las primeras cinco filas y las últimas cinco filas del DataFrame.
attacks_csv.head(5)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [7]:
attacks_csv.tail(5)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

In [8]:
# Mostrad 2 filas al azar del DataFrame.
attacks_csv.sample(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6080,6098,1827.06.00.b,1827.0,Unprovoked,SIERRA LEONE,Western Area,Tombo Island in the Sierra Leone River,Swimming,"A boy, one of the crew of the ship Thomas Gelston",M,...,NaN,Edinburgh Advertiser. 9/12/1828,1827.06.00.b-boy-crew-Gelston.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1827.06.00.b,1827.06.00.b,205.0,NaN,NaN
1301,1306,2007.12.09,2007.0,Unprovoked,NEW ZEALAND,South Island,Kaikoura,Surfing,Olivia Hislop,F,...,NaN,"NZ Herald, 12/11/2007",2007.12.09-Hislop.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.12.09,2007.12.09,4997.0,NaN,NaN

In [9]:
# ¿Cuál es el nombre de las columnas del DataFrame?
nombres_columna=attacks_csv.columns
nombres_columna

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [10]:
# ¿Cuáles son los principales estádisticos del DataFrame? Mostrad por separado las variables categóricas y las variables numéricas.
attacks_csv.describe()

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000
50%    3066.500000  1980.000000     3236.500000
75%    4596.750000  2005.000000     4768.750000
max    6131.000000  2018.000000     6303.000000

In [11]:
# ¿Cuál es el porcentaje de valores nulos en cada columna?
valores_nulos=attacks_csv.isna().sum()
porcentajes=valores_nulos/conteo[0]*100
porcentajes

Unnamed: 0                 0.000000
Case Number                0.016356
Year                       0.000000
Type                       0.065424
Country                    0.654236
Area                       6.673209
Location                   7.981681
Activity                   8.357867
Name                       3.271181
Sex                        8.995747
Age                       43.604841
Time                      52.011776
Species                   44.242722
Investigator or Source     0.261694
pdf                        0.000000
href formula               0.016356
href                       0.000000
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Unnamed: 22               99.983644
Unnamed: 23               99.967288
dtype: float64

In [14]:
# Sacad los valores únicos y su frecuencia de las variables numéricas. Almacenad los resultados en un diccionario. Uno para cada variable.
for i in nombres_columna:
    attacks_csv[i].value_counts()

In [3]:
attacks_csv["Time"].value_counts()

Afternoon      183
11h00          128
Morning        120
12h00          108
15h00          108
              ...
14h37            1
10h07            1
13h53            1
13h23            1
19h00-20h00      1
Name: Time, Length: 366, dtype: int64

In [ ]:
columnas_nuevas = {col :  col.upper() for col in df.columns}