In [51]:
# En este ejercicio pondremos en práctica los conceptos básicos para juntar varios csv que compartan información.
# Trabajaremos con tres ficheros diferentes:
# El csv que creamos en el ejercicio de pair programming Pandas IV, dónde recordamos eliminamos ciertas columnas que no eran necesarias, y habíamos creado nuevas.
# El csv llamado attacks_historico donde tenemos información sobre los ataques de tiburón previos al año 1800.
# El csv llamado attacks_adicional donde tenemos información sobre los ataques de tiburón.

In [52]:
import pandas as pd

In [53]:
# Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:
# 1-Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos 
# y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

df1=pd.read_csv('./datos/attacks_IV')
df1.head()

,Unnamed: 0,case-number,unnamed:-0,year,type,country,area,location,activity,name,sex-,age,time,species-,href,siglo
0,0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI
1,6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI
2,8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI
3,10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI
4,13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI

In [54]:
df2=pd.read_csv('./datos/attacks_adicional.csv')
df2.head()

,Unnamed: 0,Case Number,Fatal (Y/N),Injury,Date
0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018
2,2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,3,2018.06.08,N,Minor injury to lower leg,08-Jun-2018
4,4,2018.06.04,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018

In [55]:
df3=pd.read_csv('./datos/attacks_historico.csv')
df3.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,...,NaN,"The Waterford Herald, 9/15/1792",1792.09.12-Thames.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1792.09.12,1792.09.12,169.0,NaN,NaN
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,...,NaN,"G.P. Whitley; D. Baldridge, p.162",1791.00.00-aboriginal woman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1791.00.00,1791.00.00,168.0,NaN,NaN
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,...,NaN,"G.P. Whitley citing J. Cobley, Sydney Cove, p....",1788.05.10-Sydney,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1788.05.10,1788.05.10,167.0,NaN,NaN

In [56]:
# 2-Chequead que los nombres de las columnas que sean iguales entre dataframes son iguales. ¿Están todas en minúsculas? 
# ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['Unnamed: 0', 'case-number', 'unnamed:-0', 'year', 'type', 'country',
       'area', 'location', 'activity', 'name', 'sex-', 'age', 'time',
       'species-', 'href', 'siglo'],
      dtype='object')
Index(['Unnamed: 0', 'Case Number', 'Fatal (Y/N)', 'Injury', 'Date'], dtype='object')
Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [57]:
# 3-En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV 
# es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III que 
# no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes.
# Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

#PRIMERO MODIFICAMOS EL PROBLEMA DE LAS MAYÚSCULAS
columnas_nuevas = {col : col.capitalize() for col in df1.columns} 
df1.rename(columns = columnas_nuevas, inplace=True)
columnas_nuevas2 = {col:col.replace('-',' ') for col in df1.columns}
df1.rename(columns = columnas_nuevas2, inplace=True)
df1

,Unnamed: 0,Case number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Href,Siglo
0,0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI
1,6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI
2,8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI
3,10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI
4,13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1497,5528,1901.07.30,5545,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
1498,5631,1894.11.28,5648,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
1499,5667,1892.03.02,5684,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
1500,5797,1880.11.25,5814,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX
1501,5905,1868.05.13,5922,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX

In [58]:
# Eliminad las columnas que no coincidan para poder ejecutar el merge
df3.drop(['Unnamed: 22','Unnamed: 23','Case Number.1','Case Number.2','original order','Investigator or Source','pdf','href formula'],axis=1,inplace=True)
df3.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,href
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,6135,1791.00.00,1791.0,Unprovoked,AUSTRALIA,New South Wales,Port Jackson,NaN,"female, an Australian aboriginal",F,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
4,6136,1788.05.10,1788.0,Boat,AUSTRALIA,New South Wales,Sydney Harbor,Fishing,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

In [59]:
df1.columns

Index(['Unnamed: 0', 'Case number', 'Unnamed: 0', 'Year', 'Type', 'Country',
       'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time',
       'Species ', 'Href', 'Siglo'],
      dtype='object')

In [60]:
df3.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'href'],
      dtype='object')

In [61]:
df1.rename(columns={'Case number':'Case Number'},inplace=True)
df1.columns

Index(['Unnamed: 0', 'Case Number', 'Unnamed: 0', 'Year', 'Type', 'Country',
       'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time',
       'Species ', 'Href', 'Siglo'],
      dtype='object')

In [62]:
df1.rename(columns={'Species ':'Species'},inplace=True)
df1.columns

Index(['Unnamed: 0', 'Case Number', 'Unnamed: 0', 'Year', 'Type', 'Country',
       'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time',
       'Species', 'Href', 'Siglo'],
      dtype='object')

In [63]:
df1.rename(columns={'Sex ':'Sex'},inplace=True)
df1.columns

Index(['Unnamed: 0', 'Case Number', 'Unnamed: 0', 'Year', 'Type', 'Country',
       'Area', 'Location', 'Activity', 'Name', 'Sex', 'Age', 'Time', 'Species',
       'Href', 'Siglo'],
      dtype='object')

In [64]:
df1.drop(['Unnamed: 0'],axis=1,inplace=True)
df1.columns

Index(['Case Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Time', 'Species', 'Href', 'Siglo'],
      dtype='object')

In [65]:
df_concat = pd.concat([df1, df3], axis=0, ignore_index = True)
df_concat.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Href,Siglo,Unnamed: 0,Sex,Species,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN

In [67]:
df_final5 = pd.merge(left=df_concat, right=df2, how='left', on = 'Case Number')

df_final5.head()

,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Href,Siglo,Unnamed: 0_x,Sex,Species,href,Unnamed: 0_y,Fatal (Y/N),Injury,Date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN,0,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN,6,Y,FATAL,03-Jun-2018
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN,8,N,Lower left leg bitten,26-May-2018
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN,10,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo - XXI,NaN,NaN,NaN,NaN,13,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018

In [66]:
# 3-En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV
# es similar al DataFrame de los datos historicos. Si recordamos, eliminamos algunas columnas en la sesión III 
# que no eran útiles, pero esas columnas están todavía en el histórico.

#  Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.
# 4-Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.
# 5-Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming

In [68]:
df_final5.shape

(1672, 22)

In [69]:
attack_merge = df_final5.to_csv('attacks_pandas5.csv', index = False)